{% load static %}
<nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <!-- Left section: Logo and Site Title -->
            <div class="flex flex-1 items-center justify-start">
                <!-- Logo -->
                <div class="flex-shrink-0">
                    <a href="{% url 'home' %}">
                        <img class="h-8 w-auto" src="{% static 'RS.jpg' %}" alt="RS Library">
                    </a>
                </div>
                <!-- Site Title (hidden on smaller screens) -->
                {% if request.user.is_authenticated %}
                <div class="sm:ml-6">
                    <a class="text-white text-lg font-bold ml-3 no-underline hover:no-underline" href="{% url 'home' %}">
                        RS Library
                    </a>
                </div>
                {% else %}
                <div class="hidden sm:block sm:ml-6">
                    <a class="text-white text-lg font-bold ml-3 no-underline hover:no-underline" href="{% url 'home' %}">
                        RS Library
                    </a>
                </div>                
                {% endif %}

            </div>

            <!-- Right section: User Information or Login/Signup -->
            <div class="flex items-center">
              {% if request.user.is_authenticated %}
                  <!-- User Welcome Message and Balance -->
                  <div class="hidden md:flex items-center text-blue-100 font-black ml-5">
                      <span class="hidden sm:inline">Welcome,</span>
                      <span class="text-amber-500 ml-1 truncate">{{ request.user.username }}</span>
                      <span class="ml-1">(balance: {{ request.user.account.balance }})</span>
                  </div>
              {% endif %}
          </div>
            <!-- Profile and Notifications Section -->
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                {% if request.user.is_authenticated %}
                <button type="button" class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                    <span class="sr-only">View notifications</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                    </svg>
                </button>
                <!-- Profile Dropdown -->
                <div class="relative ml-3">
                    <button 
                        type="button" 
                        class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" 
                        id="user-menu-button"
                        aria-expanded="false" 
                        aria-haspopup="true"
                        onclick="toggleDropdown()"
                    >
                        <span class="sr-only">Open user menu</span>
                        {% if user.account.profile_image %}
                        <img class="h-8 w-8 rounded-full" src="{{ user.account.profile_image.url }}" alt="">
                        {% else %}
                        {% if user.account.gender == "Male" %}
                        <img class="h-8 w-8 rounded-full" src="{% static 'Male.png' %}" alt="">
                        {% else %}
                        <img class="h-8 w-8 rounded-full" src="{% static 'Female.png' %}" alt="">
                        {% endif %}
                        {% endif %}
                    </button>
                    <!-- User Menu -->
                    <div id="user-menu" class="hidden absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button">
                        <!-- Profile Link -->
                        <a href="{% url 'profile' %}" class="block px-4 py-2 text-lg font-bold ml-3 no-underline hover:no-underline text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" role="menuitem">
                            Your Profile
                        </a>
                        <!-- Deposit Link -->
                        <a href="{% url 'deposite' %}" class="block px-4 py-2 text-lg font-bold ml-3 no-underline hover:no-underline text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" role="menuitem">
                            Deposit
                        </a>
                        <!-- Logout Link -->
                        <a href="{% url 'logout' %}" class="block px-4 py-2 text-lg font-bold ml-3 no-underline hover:no-underline text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" role="menuitem">
                            Logout
                        </a>
                    </div>

                </div>
                <script>
                    function toggleDropdown() {
                        var menu = document.getElementById("user-menu");
                        menu.classList.toggle("hidden");
                    }
                </script>
                {% else %}
                <!-- Signup and Login Buttons -->
                <div class="flex space-x-4">
                  <a href="{% url 'signup' %}" class="text-gray-300 hover:text-white bg-transparent hover:bg-gray-800 border border-transparent hover:border-gray-600 rounded-md px-4 py-2 text-base font-medium transition-colors duration-300 no-underline">
                      Sign Up
                  </a>
                  <a href="{% url 'login' %}" class="text-gray-300 hover:text-white bg-transparent hover:bg-gray-800 border border-transparent hover:border-gray-600 rounded-md px-4 py-2 text-base font-medium transition-colors duration-300 no-underline">
                      Login
                  </a>
              </div>
              
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state -->
    <div class="sm:hidden" id="mobile-menu">
        <div class="space-y-1 px-2 pb-3 pt-2">
            <div class="flex items-center">
                {% if request.user.is_authenticated %}
                    <!-- User Welcome Message and Balance -->
                    <div class="md:flex items-center text-blue-100 font-black ml-5">
                        <span class="sm:inline">Welcome,</span>
                        <span class="text-amber-500 ml-1 truncate">{{ request.user.username }}</span>
                        <span class="ml-1">(balance: {{ request.user.account.balance }})</span>
                    </div>
                {% else %}
                <div class="sm:ml-6">
                    <a class="text-white text-lg font-bold ml-3 no-underline hover:no-underline" href="{% url 'home' %}">
                        RS Library
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
